body {
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
 
}

/* containers */
.navbar_header .container, .menu .container, .wrapper .container,
.who_we_are .container, .latest_works .container, .latest_works .container_fig,
.latest_works .imgs .container,.work .container,footer .container,.bottom .container
{
    width:1140px;
    margin:0 auto; 
    height:auto;
    text-align:center;

}


.hamburger-menu{ 
    display:none;
}
/*header */
header {
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    bottom: 0;
}

/* navbar header */
header .navbar_header {
    height: 40px;
    background: #F5F7FA 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 0px #E6E9ED;


}


/*header container */
header .container {
   
    display: flex;
    width:1140px;
    margin: 0 auto;
    padding: 0;
    height: 40px;
}

.navbar ul {
    list-style: none;
}

ul.contact {

    width: auto;
    margin: 0;
    padding: 0;
    position: relative;



}

.contact li,
.social li {
    display: table-cell;
    cursor: pointer;


}

.contact li {
    width: auto;
    line-height: 2.5;

}
    .contact li a
    {
margin-right:20px;
    }
    .contact li a,
    .social li a {
        color: #73879c;
        font-size: 12px;
    }
.contact li .fa
{
    
    font-family: 'Source Sans Pro';
}

.fa-envelope-o:before, .fa-mobile:before
{
    font-family:'FontAwesome';
}
.navbar_header .social {
    margin: 0 0 0 auto;

}

ul .social {
    padding: 0;
    width: auto;


}

.social li {
    padding-top: 8px;
}

.social li a {
    margin-left: 10px;
    margin-right: 10px;
}

.contact li a:hover,
.menu .menu_items li a:hover,.menu .container .search:hover{
    color: #00BC9C;
}
.social li a:hover{
    color: #fff;
}
.social li{
    height: 32px;
    width: 36px;
}
.social li:hover:first-child{
    background-color: #4567b3;
    
}
.social li:hover:nth-child(2){
    background-color: #dd5745;
    
}
.social li:hover:nth-child(3){
    background-color: #2fbbed;
    
}
.social li:hover:nth-child(4){
    background-color: #d94347;
    
}
.social li:hover:nth-child(5){
    background-color: #2f79ff;
    
}
.social li:hover:nth-child(6){
    background-color: #eb6397;
    
}
.social li:hover a
{
    color: #fff;
}
.menu .container{
    position: relative;
}
.menu .container .search{ 
color:#506A85;
    margin: 0 0 0 auto;
    line-height: 3;
    margin-right: 5px;
}
/*menu              */
.menu {
    background-color:#fff;
}
.menu .container {
    padding:20px 0;
    
}

.menu .container:hover {
    background-color: #fff;
}

.menu .menu_items {
    display: flex;
    margin-left: 5%;
    cursor: pointer;
    
}
    .menu .menu_items li .search
    {
        width:230px;
    }
    .menu .menu_items li a {
        color: #506A85;
        font-size: 15px;
       
        padding:20px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        font-family:'Source Sans Pro';
    }

    .menu .menu_items li {
        background-color: #fff;
        
        
    }



/*mega menu*/
 .menu_i .mega{
   display:none;

  
}
.inner .mega_list li:hover{
    color:#00BC9C;
}
.navbar .menu .menu_items .menu_i a:hover{
   
}

.navbar .menu .menu_items li .mega .inner {
    position: absolute;
    width: auto;
    height: auto;
    padding: 20px 0;
    display: flex;
    background-color: #f5f7fa;
    text-align: left;
    border:1px solid #e6e9ed;
    color: #73879C;
    line-height: 1.5;
    left:0;
    padding-right:10px;
    font-family:'Source Sans Pro';
}


.navbar .menu .menu_items .menu_i:hover .mega {
  display:block;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 10px 0 0 0;
    z-index: 1000;
   
}
.navbar .menu .menu_items .menu_i:hover > a
{
     background-color: #f5f7fa;
    border-radius: 3px;
    border:1px solid #e6e9ed;
}

.navbar .menu .menu_items li a:hover {
    background-color: #f5f7fa;
    border-radius: 3px;
    border:1px solid #e6e9ed;
    
}
.logo_brand
{
    padding-top: 10px;
}
 

.navbar .menu .menu_items li .mega .inner div {
    width: 24%;
font-size:14px;
}

.mega h4 {
    color: #506a85;
    text-align: left;
}
.inner h4{
    font-family:'Source Sans Pro';
}
.mega .inner .focus 
{
    padding-left: 40px;
}
.mega .inner .focus img
{
    width: 230px;
    height: 120px;
    
}
.menu_items .mega .inner .overs img,footer .container img
{
     width: 100px;
    height: 80px;
    
    margin-bottom: 5px;
}

.menu_items .mega .inner .overs .first,.menu_items .mega .inner .overs .second,.menu_items .mega .inner .overs .third,footer .container .first,footer .container .second,footer .container .mob{
    display: flex;
}

.mega .inner .focus .img_overlay
{
    
    width: 230px;
    height: 120px;
    position: relative;
    
}
.menu_items .mega .inner .overs .first .img_overlay,.menu_items .mega .inner .overs .second .img_overlay,.menu_items .mega .inner .overs .third .img_overlay,footer .container .first .img_overlay,footer .container .second .img_overlay{
       width:auto;
    height: 80px;
    position: relative;
}

.menu_items .mega .inner .overs .img_overlay,footer .container .img_overlay,footer .container .img_overlay{
    margin: 5px 5px 5px 0;
}

.menu_items .mega .inner .focus .img_overlay .overlay{
    width: 230px;
    position: absolute;
    background-color: #00BC9C;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
        
}
.menu_items .mega .inner .overs .img_overlay .overlay,footer .container .first .img_overlay .overlay,footer .container .second .img_overlay .overlay{
    width: 100px;
  position: absolute;
    background-color: #00BC9C;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
}

.mega .inner .focus .img_overlay .overlay:hover,.menu_items .mega .inner .overs .img_overlay .overlay:hover,footer .container .img_overlay .overlay:hover{
    opacity: 1;
    cursor: pointer;
}



.menu_items .mega .inner .overs .img_overlay .overlay span,footer .container .img_overlay .overlay span
{
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.mega .inner .focus figure
{
    margin-left: 0;
}
.navbar .menu .menu_items li .mega .inner .bt {
   
    background-color: #00BC9C;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
}
.navbar .menu .menu_items li .mega .inner .bt:hover{
    border-radius: 0;
}

.mega .mega_list {
    list-style:none;
    line-height:1.2;
    padding-left:18px;

}

.mega .mega_list li {
    background-color:  #f5f7fa;
}
.mega .mega_list li::before{
    color:#00BC9C;
 content: "\25E6";
 font-weight: bolder;
 font-size: 21px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.navbar .menu .menu_items .menu_i a:hover
{
        border-radius: 5px 5px 0 0;
}



/*  carousel */


.wrapper {
    width: 100%;
    
    text-align: center;
    color: #fff;
}



.carousel {
    width: 100%;
    margin: 0px auto;
}



    .slick-slide img {
        width: 100%;
        border: 2px solid #fff;
    }


.cover_1 {
    background-image: url(../img/slider01.jpg);
}

.cover_2 {
    background-image: url(../img/slider02.jpg);
}

.cover_3 {
    background-image: url(../img/slider03.jpg);
}

.cover_4 {
    background-image: url(../img/slider04.jpg);
}

.cover_5 {
    background-image: url(../img/slider05.jpg);
}

.cover_1, .cover_2, .cover_3, .cover_4, .cover_5 {
    background-size: cover;
    background-position: center;
    height: 800px;
    opacity: 0.8;
}



.wrapper .slick-prev,.wrapper .slick-next {
    z-index: 1000;
}

.wrapper .slick-arrow {
    color: #00BC9C;
}

.wrapper .slick-prev {
    left: 5%;
}

.wrapper .slick-next {
    right: 5%;
}


.slick-dots li button:before {
    color: #00BC9C;
    opacity: 1;
    font-size: 20px;
}


.wrapper .slick-prev:before
{
        content: "\2039";
    font-size: 60px;
    color: #e6e9ed;
    line-height: 0;
}
.wrapper .slick-next:before{
    content:"\203A";
     font-size: 60px;
    color: #e6e9ed;
    line-height: 0;
}

.wrapper .slick-prev.slick-arrow,.wrapper .slick-next.slick-arrow{
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: #506a85;
    opacity: 0.3;
}
.wrapper .slick-prev.slick-arrow:hover,.wrapper .slick-next.slick-arrow:hover{
     opacity:1;
}
.wrapper .slick-prev.slick-arrow:hover.slick-prev:before,.wrapper .slick-next.slick-arrow:hover.slick-next:before{
    color: #00BC9C;
} 
.slick-dots li.slick-active button:before {
    color: #506A85;
    opacity: 1;
}

.slick-dots {
    display: inline-block;
    position: relative;
    width: auto;
    background-color: #fff;
    bottom: 25px;
    padding: 10px 5px;
    border-radius: 3px;
    margin: 0 auto;
}

.wrapper .container {
    margin:0 auto;
    margin-top: 250px;
    height: auto;
   
}
    .wrapper .container h2 {
        font-size: 78px;
        font-family: 'Lato', sans-serif;
        word-spacing: 6px;
        padding: 0 115px;
        margin:0;


    }


    .wrapper .container p {
        color: #73879C;
        font-size: 24px;
        font-family: 'Source Sans Pro', Regular;
        padding:0 115px;
        margin-top:10px;
        margin-bottom: 30px;
    }

    .wrapper .container .cover_bt {
        background-color: #00BC9C;
        color: #fff;
        font-size: 18px;
        border-radius:5px;
        cursor: pointer;
        font-family: 'Source Sans Pro';
        font-weight:bold;
        padding: 15px 50px;
        margin-top:30px;
        text-decoration: none;
        outline: 0;
    }





/*who_we_are*/




.who_we_are .container, .work .container {
    margin: 100px auto;
    height:auto;
}
    .who_we_are .container h2, .latest_works h2, .work .container h2 {
        font-size: 44px;
        font-family: 'Lato';
        font-weight: bold;
        word-spacing: 6px;
        height: auto;
        color: #506A85;
    }
    .who_we_are .container .high, .latest_works .container p, .work .container p {
        font-size: 22px;
        font-family: 'Source Sans Pro', Regular;
        padding: 0 180px;
        margin-top: 10px;
        margin-bottom: 60px;
        color: #73879C;
    }

    .who_we_are .container ul, footer .container,
    .bottom .container {
        padding: 0 15px;
        display: flex;
        list-style: none;
        text-align: left;
    }
.who_we_are ul li {
    width: auto;
    margin: auto;
}

    .who_we_are .container ul li p {
        margin-left: 51px;
        margin-top: 10px;
        font-size: 16px;
        font-family: 'Source Sans Pro';
        height: auto;
        color: #73879C;
    }

    .who_we_are .container ul li span {
        font-size: 26px;
        font-family: 'Lato';

    }
.who_we_are .container ul li i {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #00BC9C;
}
.who_we_are ul li span {
    color: #506A85;
    font-size: 25px;
}
  

/*latest works */
.latest_works {
    background-color: #F2F5F7;
    height: auto;
    padding:50px 0;
   

}
  .latest_works .container{
   text-align:center;
   

  }
    .latest_works .container_fig .figure figure figcaption p {
        font-size: 14px;
        font-family: 'Source Sans Pro';
        color: #73879c;
    }
    .latest_works .container_fig .figure figure figcaption {
        font-size: 20px;
        font-family: 'Lato';
    }
    .latest_works .container_fig,
    .latest_works .imgs .container {
        display: flex;
        text-align: center;
        padding: 0;
        height: auto;
    }

.latest_works .container_fig figure {
    background-color: #fff;
    padding-bottom: 20px;
}

.latest_works .container_fig figcaption{
    color: #506A85;
}

.latest_works .container_fig figcaption {
    
    padding-top: 20px;
}


.latest_works .container_fig figure span{
    color: #73879C;
    font-size: 14px;
}
   

  
.latest_works .container_fig .figure figure .img_overlay {
    position: relative;
}

.latest_works .container_fig .figure figure .img_overlay .img {
    display: block;
    width:100%;
}

.latest_works .container_fig .figure figure .img_overlay .overlay {
    background-color: #00BC9C;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
}

.latest_works .container_fig .figure figure .img_overlay:hover .overlay, .menu_items .mega .inner .focus .img_overlay:hover .overlay{
    opacity: 1;
    cursor: pointer;
}


.latest_works .container_fig .figure figure .img_overlay .overlay span, .menu_items .mega .inner .focus .overlay span {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
    

    .latest_works .imgs .container
    {
        height:auto;
        padding:0 15px;
    }
    .latest_works .imgs ul {
        display: flex;
        list-style: none;
    }
        .latest_works .imgs ul li {
            margin-right: 25px;
        }
            .latest_works .imgs ul li{
                width:95%;
            }
                .latest_works .imgs ul li:nth-child(3) {
                    margin-left: 48px;
                }



.wrap .slick-slide img{

    border:none;


}
.wrap .slick-dots {
    
    display:block;
    position: relative;
    width: auto;
    margin: 0 auto;
    bottom: -30px;
    background-color: #F2F5F7;
}
.wrap
{
    margin-top:50px;
}
    .wrap .slick-prev:before {
       display:none;
    }
.wrap .slick-next:before{
    display:none;
}
/*work*/
.work .work_bt {
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: #00BC9C;
    text-align: center;
    font-size: 15px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    outline: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}



/*footer */
footer {

    background-color: #2F4052;
    
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

footer .mob
{
    display: none;
}
.bottom .container {
    height: auto;
    justify-content: space-between;

}

  footer .container div {
    margin-right: 20px;
  }
    
footer .container .none
    {
        display: none;
    }

footer h4 {
    font-size: 14px;
    font-family: 'Lato';
    font-weight: bold;
    color: #fff;
}
footer p, form ::placeholder {
    color: #a3b1bf;
    font-size: 14px;
    font-family: 'Source Sans Pro';
}

footer div {
    width: 25%;
}






form input {
    background-color: #4e5c6c;
    outline: 0;
    border: none;
    padding: 8px;
    width: auto;
}

form input[type=submit] {
    background-color: #00BC9C;
    color: #fff;
    border: none;
    border-radius: 2px;
    
    outline: none;
    padding: 8px;
    margin-top: 5px;
    margin-right: auto;
    font-size: 12px;
    font-family: 'Source Sans Pro';
    font-weight: bold;
}

form input[type=submit]:hover {
    cursor: pointer;
}
/*bottom footer */
.bottom {
    background-color: #283645;
   
    color: #707E8C;
    font-size: 14px;
    font-family: 'Source Sans Pro';
}

.bottom ul {
    list-style: none;
    display: flex
}

    .bottom ul li {
        margin-left: 15px;
      
    }

.bottom ul li a {
    text-decoration: none;
    color: #707E8C;
}

.bottom ul li a:hover {
    color: #00BC9C;
}


/*
@media only screen and (max-width: 920px) {
.menu .menu_items {
        display: none;
    }

}
*/


#menu__toggle {
    opacity: 0;
    display: none;
}

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
        background-color: #73879c;
    }

        #menu__toggle:checked ~ .menu__btn > span::before {
            top: 0;
            transform: rotate(0);
            background-color: #73879c;
            font-weight:bold;
        }

        #menu__toggle:checked ~ .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
            background-color: #73879c;
            font-weight:bold;
        }

    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
        z-index: 3000;
   
    }

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10000000;
    top: 8px;
    right: 5px;
    
    color: #506A85;
   margin-right: 10px;
    margin-top: 5px;
    left: 80%;
    
}

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #506A85;
        transition-duration: .25s;
    }

        .menu__btn > span::before {
            content: '';
            top: -8px;
        }

        .menu__btn > span::after {
            content: '';
            top: 8px;
        }

.menu__box {
    display: block;
    position: fixed;
   top: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #506A85;
    
   font-family: 'Source Sans Pro';
   font-size:15px;
    font-weight: bold;
    text-decoration: none;
    transition-duration: .25s;
    margin-bottom: 20px;
}

    .menu__item:hover {
        
        color: #00BC9C;
        cursor:pointer;
    }




@media only screen and (max-width:1199px) and (min-width:920px) {
    .navbar_header .container, .menu .container, .wrapper .container,
    .who_we_are .container, .latest_works .container, .latest_works .container_fig,
    .latest_works .imgs .container, .work .container, footer .container, .bottom .container {
        width: auto;
        padding: 0 15px;
        height: auto;
       margin-left: 3%;
        margin-right: 3%;
    }

 .navbar .menu .menu_items li .mega .inner
    {
         width: auto;
        padding: 0 15px;
        height: auto;
       margin-left: 1%;
        margin-right: 1%; 
    }

    .menu .menu_items li a {
        font-size: 12px;
        font-weight: bold;
        padding: 12px;
    }

    .menu .container {
        padding: 15px;
    }
    .mega .inner .focus img
{
    width: 170px;
   
    
}
.mega .inner .focus .img_overlay
{
    
    width: 170px;
   
    
}
.menu_items .mega .inner .focus .img_overlay .overlay{
    width: 170px;

        
}
    
.menu_items .mega .inner .overs img
{
     width: 85px;
   
    
}

.menu_items .mega .inner .overs .img_overlay .overlay{
    width: 85px;
    
   
}

    .wrapper .container h2 {
        padding: 0;
        font-size: 50px;
    }

    .wrapper .container p, .who_we_are .container .high,
    .latest_works .container p, .work .container p {
        padding: 0 70px;
    }

    .who_we_are .container h2, .latest_works h2, .work .container h2 {
        font-size: 35px;
    }

    .who_we_are .container ul li p {
        font-size: 14px;
    }

    .latest_works .container_fig .figure figure figcaption {
        font-size: 16px;
    }

   

    footer p, form ::placeholder {
        font-size: 12px;
    }

   
}


@media only screen and (max-width:919px) {
   .wrapper .container,.who_we_are .container, .latest_works .container, .latest_works .container_fig,.latest_works .imgs .container, .work .container, footer .container, .bottom .container{
        width: auto;
        padding: 0 15px;
        height: auto;
        margin: 70px 20px;
    }
   .menu .container
    {
        margin:0 auto;
        padding: 0;
        height: auto;
    }
   
    .hamburger-menu{
        display:block;
    }
    .menu .menu_items{
        display:none;
    }
  

    .menu .container {
        padding: 15px 15px 0 15px;
        display:block;
        text-align: left;
      
    }

    .wrapper .container h2 {
        padding: 0;
        font-size: 30px;
    }

    .wrapper .container p, .who_we_are .container .high,
    .latest_works .container p, .work .container p {
        padding: 0 20px;
    }

    .who_we_are .container h2, .latest_works h2, .work .container h2 {
        font-size: 23px;
    }

    .who_we_are .container ul  {
        font-size: 12px;
        display:block;
    }
    .latest_works .imgs ul li{
        margin-right:5px;
    }
        .latest_works .imgs ul li:nth-child(3) {
            margin-left: 0;
        }
    .latest_works .container_fig {
        display: block;
    }
    .latest_works .imgs .container{
        margin-right:38px;
    }
    .latest_works .container_fig .figure figure figcaption {
        font-size: 14px;
    }

   
   
        
    
    footer .container
    {
        display:block;
        margin:0 2%;
    }
        footer .container div{
            width:100%;
            text-align:center;
        }
        footer .container h4{
            font-size:18px;
        }
        footer .container p{
            font-size:14px;
        }
        footer p, form ::placeholder {
            font-size: 12px;
        }
        
    .bottom .container
    {
        display:flex;
        text-align:center;
        margin:0 auto;
        flex-direction: column-reverse;
        
    }
        .bottom .container p{
            margin:auto ;
            padding-bottom:20px;
        }
        .bottom .container ul {
         justify-content:center;
            text-align:center;
            margin-bottom:0;
            padding:0;
            padding-bottom:20px;
            
          
        }
        .bottom .container ul li{
            margin:0 8px;
        }
  
     header .menu{
         position:fixed;
         z-index:10000;
         width:auto;
         top:0;
     }

    .search{
        display:none;
    }
    .cover_1, .cover_2, .cover_3, .cover_4, .cover_5
    {
        height:500px;
    }
    .wrapper .container
    {
        margin:0;
        margin-top:130px;
    }


        .wrapper .container button
        {
            margin-top:15px;

        }
    .wrapper .container p{
        font-size:18px;
    }
    .wrapper .container h2{
        font-size:25px;
    }
    
    footer .container .first,footer .container .second {
    display: flex;
    justify-content: center;
}
    footer .container img 
    {
        width: 130px;
        height: 80px;
    }

footer .container .first .img_overlay .overlay,footer .container .second .img_overlay .overlay{
    width: 130px;
  position: absolute;
    background-color: #00BC9C;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
}
    footer .container .first .img_overlay,footer .container .second .img_overlay{
       width:auto;
    height: 80px;
    position: relative;
}
footer .container .img_overlay .overlay:hover{
    opacity: 1;
    cursor: pointer;
}
  .wrapper .slick-prev:before
{
     
    font-size: 30px;
    
}
.wrapper .slick-next:before{
     font-size: 30px;
  
}

.wrapper .slick-prev.slick-arrow,.wrapper .slick-next.slick-arrow{
    width: 30px;
    height: 30px;
    
}
    .navbar_header
    {
        display: none;
    }
}
    
   
